* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
}

.body {
    background-color: rgba(0, 0, 0, 0.62);
}

/*header*/

.header {
    display: flex;
    justify-content: center;
    height: 120px;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
}

.header__logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #acc4c3;
    margin: 0 0 10px 10px;
}

.header-logo-color {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #83c6c3;
}

.wrapper-header-title {
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #acc4c3;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__menu-nav {
    display: flex;
    justify-content: center;
}

.header__menu {
    display: flex;
    gap: 30px;
}

.header__menu-item {
    list-style-type: none;
    font-family: 'Lobster', cursive;
    font-size: 27px;
    color: aliceblue;
}

.header__menu-item-btn {
    background-color: #acc4c3;
    border: none;
    border-radius: 5px;
    color: #ddecec;
    width: 335px;
    height: 40px;
    cursor: pointer;
}

/*main*/

.main {
    display: flex;
    justify-content: center;
    height: 715px;
}

.main-container {
    width: 1160px;
    margin: 0 auto;
}

.wrapper__section-questions {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

.wrapper__section-questions__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 170px;
    height: 30px;
    text-align: center;
    background-color: aliceblue;
    color: #acc4c3;
    font-family: 'Lobster', cursive;
    font-size: 22px;
}

.wrapper__section-questions__item__active {
    background-color: #acc4c3;
    color: aliceblue;
}

.player-controls {
    margin-top: 15px;
    display: flex;
}

.player-controls-mini {
    margin-top: 15px;
    max-width: 270px;
    display: flex;
}

.btn-play {
    width: 40px;
    height: 40px;
    background-size: 40px 40px;
    background-image: url("../assets/icon/play.svg");
}

.player-icon {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: 0.8;
    cursor: pointer;
    transition: 0.3s;
}

.player-icon:hover {
    opacity: 1;
}

.player-icon:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.wrapper-questions {
    background-color: #242323;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    width: 96%;
}

.wrapper-questions__img {
    background-color: #6d7272;
    border-radius: 15px;
    width: 200px;
    height: 155px;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.questions__img {
    display: block;
    margin: 0 auto;
    height: 87%;
}

.hide-name {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #83c6c3;
}

.wrapper__about-hide-name {
    margin: 15px;
}

.wrapper__answer-options {
    display: flex;
    flex-direction: row;
    margin: 20px;
    gap: 20px;
}

.block__answer-options,
.block__about-list-item {
    width: 50%;
}

.list__answer-options {
    background-color: #242323;
}

.list-item {
    padding-left: 20px;
    display: flex;
    align-items: center;
    list-style-type: none;
    border: 1px solid #444;
    width: 100%;
    height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #b7c6c6;
    cursor: pointer;
}

.li-dot {
    display: inline-block;
    background-color: #444;
    width: 10px;
    height: 10px;
    margin-right: 15px;
    border-radius: 50%;
}

.error {
    background-color: red;
}

.success {
    background-color: green;
}

.block__about-list-item {
    background-color: #242323;
    padding: 10px;
}

.title-start-game {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #b7c6c6;
}

.title-start-game-hidden {
    display: none;
}

.wrapper__about-bird-hidden {
    display: none;
}

.wrapper__about-bird {
    display: flex;
}

.wrapper__about-bird-img {
    background-color: #6d7272;
    border-radius: 15px;
    width: 200px;
    height: 155px;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
}

.description-bird {
    margin: 10px;
}

.block-about-img {
    display: block;
    margin: 0 auto;
    height: 87%;
}

.bird-name {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
    color: #b7c6c6;
}

.bird-latin-name {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #b7c6c6;
}

.general-description {
    font-family: 'Nunito', sans-serif;
    font-size: 16px;
    color: #b7c6c6;
}

general-description__inactive {
    display: none;
}

.btn__next-question-inactive {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 35px;
    background-color: #404545;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: #696e6f;
}

.btn__next-question-active {
    display: block;
    margin: 0 auto;
    width: 40%;
    height: 35px;
    background-color: #acc4c3;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    font-family: 'Lobster', cursive;
    font-size: 25px;
    color: aliceblue;
}

/*footer*/

.footer {
    height: 100px;
    background-color: #acc4c3;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
}

.footer-container__menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.footer-container__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container__menu-item {
    list-style-type: none;
}

.github-logo {
    width: 60px;
    height: 60px;
}

.rs-logo {
    width: 133px;
    height: 53px;
}

@media (max-width: 1200px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 800px;
    }

    .wrapper__section-questions__item {
        width: 181px;
        height: 55px;
    }

    .player-controls-mini {
        max-width: 228px;
        transform: scale(0.9);
    }

    .list__answer-options {
        width: 250px;
    }

    .block__about-list-item {
       width: 90%;
    }

    .list-item {
        height: 50px;
    }

    .wrapper__section-questions {
        align-items: center;
    }

    .wrapper__section-questions__item {
        align-items: center;
    }

}

@media (max-width: 850px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 550px;
    }

    .wrapper__section-questions {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
    }

    .wrapper__section-questions__item {
        display: flex;
        flex-wrap: wrap;
        width: 177px;
        height: 29px;
        font-size: 22px;
    }

    .wrapper-questions {
        width: 92%;
    }

    .header__menu-item-btn {
        width: 250px;
        height: 32px;
    }

    .wrapper__answer-options {
        display: flex;
        flex-direction: column;
        margin: 20px;
        gap: 20px;
    }

    .block__answer-options,
    .block__about-list-item {
        width: 100%;
    }

    .block__about-list-item {
        height: 300px;
    }

    .main {
        height: 1000px;
    }

    .list__answer-options {
        width: 100%;
    }

    .player-controls-mini {
        margin-left: -24px;
        max-width: 266px;
        transform: scale(0.8);
    }

    .wrapper__section-questions__item {
      align-items: center;

    }

    .wrapper__section-questions {
        align-items: center;
    }
}

@media (max-width: 600px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 400px;
    }

    .header__menu-item-btn {
        width: 150px;
        height: 32px;
    }

    .main {
        height: 1347px;
    }

    .wrapper-questions {
        width: 89%;
    }

    .btn__next-question {
        width: 40%;
        height: 68px;
    }

    .wrapper__section-questions__item {
        width: 124px;
        height: 52px;
    }

    .wrapper-questions {
        flex-direction: column;
        align-items: center;
    }

    .btn__next-question-inactive {
        width: 66%;
    }

    .block__about-list-item {
        display: flex;
        flex-direction: column;
    }

    .wrapper__about-bird {
        display: flex;
        flex-direction: column;
    }

    .block__about-list-item {
        height: 476px;
    }

}

@media (max-width: 430px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 300px;
    }

    .header {
        height: 103px;
    }

    .header__menu {
        gap: 14px;
    }

    .header__menu-item-btn {
        width: 129px;
        height: 32px;
    }

    .header__menu-item {
        font-size: 24px;
    }

    .wrapper-header-title {
        justify-content: center;
        gap: 15px;
    }

    .main {
        height: 1420px;
    }

    .wrapper-questions {
        display: flex;
        flex-direction: column;
    }

    .wrapper-questions__img {
        display: block;
        margin: 15px auto 0;
    }

    .block__about-list-item {
        display: flex;
        flex-direction: column;
    }

    .wrapper__about-bird {
        display: flex;
        flex-direction: column;
    }
    .btn__next-question {
        width: 46%;
        height: 68px;
    }

    .player-controls {
       max-width: 300px;
        transform: scale(0.8);
    }

    .hide-name {
        padding: 0 57px;
    }

    .block__about-list-item {
        height: 505px;
    }

    .description-bird {
        margin: 0 10px;
    }

    .bird-name {
        font-size: 26px;
    }

    .player-controls-mini {
        margin-top: -3px;
    }

    .footer-container__menu {
        gap: 32px;
    }
}
