@import url(styleDonate-header.css);
@import url(styleDonate-block-watch_animal.css);
@import url(styleDonate-pick-and-feed-a-friends.css);
@import url(styleDonate-footer.css);
@import url(media-donate/main-media-donate.css);

* {
  box-sizing: border-box;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

h6 {
  display: none;
}
