.pick-and-feed-a-friend {
  height: 1482px;
  background: linear-gradient(
      315.75deg,
      rgba(254, 210, 144, 0.7) 30.06%,
      #febdab 100.95%,
      rgba(254, 210, 144, 0.7) 106.36%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    ),
    linear-gradient(
      315.75deg,
      rgba(254, 189, 171, 0.74) 30.06%,
      rgba(243, 169, 248, 0.66) 50.74%,
      #e0d8f0 80.49%,
      #eaf7fe 127.9%,
      #eaf7fe 149.54%
    );
  opacity: 0.9;
}

.pick-and-feed-a-friend .container {
  flex-direction: column;
  height: 1482px;
  padding-top: 40px;
}

.pick-and-feed-a-friend .container-donate-pick-and-feed-a-friend {
  width: 1160px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 60px;
  height: 964px;
  background: rgba(253, 253, 255, 0.52);
  backdrop-filter: blur(2px);
  border-radius: 20px;
}

.main-title-pick-and-feed-a-friend {
  margin-top: 40px;
  padding-right: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 120%;
  text-align: center;
  color: #fe9013;
}

.discription-main-title-pick-and-feed-a-friend {
  margin: -28px 0px 0px 93px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 120%;
  color: #333b41;
}

.title-pick-and-feed-a-friend {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #ffffff;
}

.discription-title-pick-and-feed-a-friend {
  padding-top: 10px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  color: #ffffff;
}

.donation-information {
  padding-top: 45px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #fe9013;
}

.visuai-block-pick-and-feed-a-friend {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  align-items: center;
  gap: 44px;
}

.sum-days {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 72px;
  line-height: 80%;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.diet-animals {
margin-top: 11px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  color: #333b41;
}

.wrapper-sum-days {
    margin: 51px 56px 0px -14px;
}

.wrapper-x-icon {

    margin: 28px 0px 0px -87px;
}

.icon-pets {
    margin: 0px 0px 0px 19px;
}
