@import url(/pages/donate/cssDonate.css/styleDonate-header.css);
@import url(/pages/donate/cssDonate.css/styleDonate-block-watch_animal.css);
@import url(/pages/donate/cssDonate.css/styleDonate-pick-and-feed-a-friends.css);
@import url(/pages/donate/cssDonate.css/styleDonate-footer.css);



* {
    box-sizing: border-box;
    /* border: 1px solid red; */
  }
  
  html {
      scroll-behavior: smooth;
    }
  
  .container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
  }

  .bamboo-header {
    position: absolute;
    top: 38px;
    left: 9px;
    z-index: 0;
}

.bamboo-footer {
    position: absolute;
    top: 62px;
    left: 9px;
    z-index: 0;
    position:;
}