* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /*border: 1px solid red;*/
}

html {
    scroll-behavior: smooth;
}

.body {
    background-color: rgba(0, 0, 0, 0.62);
}

/*header*/

.header {

    display: flex;
    justify-content: center;
    height: 120px;
}

.header-container {
    width: 1160px;
    margin: 0 auto;
}

.header__logo {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #acc4c3;
    margin: 0 0 10px 10px;
}

.header-logo-color {
    font-family: 'Lobster', cursive;
    font-size: 50px;
    color: #83c6c3;
}

.header__menu-nav {
    display: flex;
    justify-content: center;
}

.header__menu {
    display: flex;
    gap: 30px;
}

.header__menu-item {
    list-style-type: none;
    font-family: 'Lobster', cursive;
    font-size: 27px;
    color: aliceblue;
}

.header__menu-item-btn {
    background-color: #acc4c3;
    border: none;
    border-radius: 5px;
    color: #ddecec;
    width: 335px;
    height: 40px;
    cursor: pointer;
}

/*main*/

.main {
    display: flex;
    justify-content: center;
    height: 715px;
}

.main-container {
    width: 1160px;
    margin: 0 auto;
}

.main-container__title {
    position: relative;
    text-align: center;
    margin: 0;
    font-family: 'Nunito', sans-serif;
    font-size: 35px;
    color: #83c6c3;
}

.main-container__description {
    position: relative;
    text-align: center;
    margin: 4px 0 10px;
    font-family: 'Nunito', sans-serif;
    font-size: 26px;
    color: #83c6c3;
}

.main-container-logo {
    display: flex;
    justify-content: center;
}

.main-container__specification {
    position: relative;
    text-align: center;
    margin: 10px 0;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    color: #83c6c3;
}

/*footer*/

.footer {
    height: 100px;
    background-color: #acc4c3;
    margin: 0;
    display: flex;
    justify-content: center;
}

.footer-container {
    display: flex;
    justify-content: center;
    width: 1160px;
    margin: 0 auto;
}

.footer-container__menu {
    margin: 0;
    display: flex;
    flex-direction: row;
    gap: 40px;
    align-items: center;
}

.footer-container__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-container__menu-item {
    list-style-type: none;
}

.github-logo {
    width: 60px;
    height: 60px;
}

.rs-logo {
    width: 133px;
    height: 53px;
}

@media (max-width: 1159px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 800px;
    }
}

@media (max-width: 799px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 600px;
    }

    .header__logo {
        margin: 0 0 10px 10px;
    }

    .main {
        height: 740px;
    }

    .header__menu-item-btn {
        width: 280px;
    }
}

@media (max-width: 599px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 350px;
    }

    .main {
        height: 730px;
    }

    .main-container {
        margin: 0 5px;
    }

    .main-container__photo {
        width: 90%;
        height: 90%;
    }

    .header__menu-item-btn {
        width: 160px;
    }
}

@media (max-width: 360px) {
    .header-container,
    .main-container,
    .footer-container {
        width: 320px;
    }

    .header__menu-item {
        font-size: 20px;
    }

    .header__logo {
        font-size: 30px;

    }

    .header-logo-color {
        font-family: 'Lobster', cursive;
        font-size: 30px;
        color: #83c6c3;
    }

    .main-container__title {
        font-size: 26px;
    }

    .main-container__description {
        font-size: 20px;
    }

    .main-container__specification {
        font-size: 17px;
    }

    .main {
        height: 600px;
    }

    .header__menu-item-btn {
        width: 110px;
    }

    .rs-logo {
        width: 90%;
    }

    .footer-container__menu {
        gap: 76px;
    }
}

