@import url(/pages/main/css/style-header.css);
@import url(/pages/main/css/style-block-watch_animal.css);
@import url(/pages/main/css/style-pets.css);
@import url(/pages/main/css/style-pick-and-feed-a-friend.css);


* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

.container {
    width: 1160px;
    margin: 0 auto;
    display: flex;
}