@import url(style-header.css);
@import url(style-block-watch_animal.css);
@import url(style.backstage.css);
@import url(style-pets.css);
@import url(style-pick-and-feed-a-friend.css);
@import url(style-testimonials.css);
@import url(style-footer.css);
@import url(media/main-media.css);


* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    scroll-behavior: smooth;
}

/*.container {*/
/*    width: 1160px;*/
/*    margin: 0 auto;*/
/*    display: flex;*/
/*}*/

body {
    overflow-x: hidden; 
}

.main-container {
    position: relative;
    overflow: hidden;
}


h6 {
    display: none;
}












